function Main.main 2
label emit lhs term 
label begin array access
label emit lhs term 
push constant 3
label emit rhs term 
push constant 6
label begin operator
sub
push local 0
add
pop pointer 1
push that 0
pop local 1
push constant 0
return
